:root {
    box-sizing: border-box;
    /*Applies border box sizing to the root element*/
    font-family: 'Open sans', sans-serif ;
}

*,
::before,
::after {
    box-sizing: inherit;
    /* Tells all other elements and pseudo-elements to inherit their box sizing */
}

h1 {
    font-family: Oswald, serif;
}


h2 {
    padding-top: 1em;
}

nav {
    background-color: #0e0d0d;
}

nav span {
    margin: 0;
    padding: 0;
    text-align: center;
  }

nav a  {
    letter-spacing: 2px;
    padding: 0.5em;
    text-decoration: none;
    color: #ffc200;
    text-transform: uppercase;
  }

/* #reviews {
    background-color: #191970;
} */

#testimonials {
    display: flex;
    flex-wrap:  wrap;
    gap: 1em;
    width: 90%;
    margin: 0 auto;
}

.testimonial-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    font-family: 'Cormorant';
    font-style: italic;
    width: 20em;
    margin: 0 1em 1em;
    padding: 0 0.75em;
    background-color: #fafafa;
    border: double rgb(73, 62, 62);
  }

  #testimonials:last-child {
    padding-bottom: 2em;
  }